/.idea/
/src/TaskManager.Api/logs/
/src/TaskManager.Api/obj/
/src/TaskManager.Core/obj/
/src/TaskManager.Api/bin/
/src/TaskManager.Core/bin/

tests/TaskManager.Core.UnitTests/bin/
tests/TaskManager.Core.UnitTests/obj/